---
import Github from "./Icons/Github.astro";
import Python from "./Icons/Python.astro";
import Uv from "./Icons/uv.astro";
import Linkbutton from "./linkbutton.astro";
import Telegram from "./Icons/Telegram.astro";
import Docker from "./Icons/Docker.astro";
import Web from "./Icons/web.astro";

const tags = {
  PYTHON: {
    name: "python",
    class:
      "bg-black/5 border border-black/10 dark:bg-white/5 dark:border-white/10 rounded-full inline-flex justify-center items-center gap-x-2 py-1 px-2 md:px-4 md:py-2 text-xs md:text-base transition",
    Icon: Python,
  },
  UV: {
    name: "uv",
    class:
      "bg-black/5 border border-black/10 dark:bg-white/5 dark:border-white/10 rounded-full inline-flex justify-center items-center gap-x-2 py-1 px-2 md:px-4 md:py-2 text-xs md:text-base transition",
    Icon: Uv,
  },
  TELEGRAM: {
    name: "Telegram",
    class:
      "bg-black/5 border border-black/10 dark:bg-white/5 dark:border-white/10 rounded-full inline-flex justify-center items-center gap-x-2 py-1 px-2 md:px-4 md:py-2 text-xs md:text-base transition",
    Icon: Telegram,
  },
  DOCKER: {
    name: "Docker",
    class:
      "bg-black/5 border border-black/10 dark:bg-white/5 dark:border-white/10 rounded-full inline-flex justify-center items-center gap-x-2 py-1 px-2 md:px-4 md:py-2 text-xs md:text-base transition",
    Icon: Docker,
  },
};

const PROJECTS = [
  {
    title: "Projects ",
    description:
      "Herramienta CLI interactiva para la generación automatizada de proyectos en múltiples stacks tecnológicos (Node.js, Python, Go, Bash) con integración de frameworks y configuración de dependencias.",
    github: "https://github.com/danilo1992-sys/projects.git",
    image: "/screenshot-2026-06-16_20-48-47.webp",
    tags: [tags.PYTHON, tags.UV],
  },
  {
    title: "Bot copa del mundo",
    description:
      "Bot de Telegram en Python que consulta datos en tiempo real de la FIFA World Cup mediante comandos interactivos, desplegado con Docker.",
    github: "https://github.com/danilo1992-sys/bot.git",
    image: "/331shots_so.webp",
    tags: [tags.PYTHON, tags.UV, tags.TELEGRAM, tags.DOCKER],
  },
];
---

{
  PROJECTS.map(({ title, description, tags, image, github }) => (
    <article>
      <h3 class="text-2xl font-semibold text-sky-600 dark:text-sky-300/80 mt-4">
        {title}
      </h3>
      <p class="text-lg mb-6 text-pretty">{description}</p>
      <ul class="flex gap-x-8 flex-row mb-2">
        {tags.map((tag) => (
          <li>
            <span class={`flex gap-x-2 text-sm ${tag.class}`}>
              <tag.Icon class="size-6" />
              {tag.name}
            </span>
          </li>
        ))}
      </ul>
      <img src={image} alt={`Captura de pantalla del proyecto ${image}`} />
      <footer class="flex gap-x-3 items-end mt-4">
        <Linkbutton href={github}>
          <Github class="size-6" />
          Ver repositorio
        </Linkbutton>
      </footer>
    </article>
  ))
}
