---
<<<<<<< HEAD
import Css from "./Icons/css.astro";
import Flask from "./Icons/Flask.astro";
import Github from './Icons/Github.astro'
import HTML from "./Icons/HTML.astro";
import linkbutton from './linkbutton.astro'
import Mysql from "./Icons/Mysql.astro";
import Python from "./Icons/Python.astro";
import Linkbutton from "./linkbutton.astro";
import Web from './Icons/web.astro'



const tags = {
    PYTHON: {
        name: "python",
        class:"bg-black text-white",
        Icon: Python,
    },
    HTML: {
        name:"HTML",
        class:"bg-black text-white",
        Icon: HTML,
    },
    Css: {
        name:"Css",
        class:"bg-black text-white",
        Icon: Css,
    },
    Mysql: {
        name:"Mysql",
        class:"bg-black text-white",
        Icon: Mysql,
    },
    Flask: {
        name:"Flask",
        class:"bg-white text-white",
        Icon: Flask,
    },
};
const PROJECTS = [
=======
const PROJECTS =[
>>>>>>> 67856f354a42caa62d3b8571bea47d0dffa776a9
    {
        title:"Mail app",
        description:"Aplicacion de envio de mail creada con Flask, Python y HTML ",
<<<<<<< HEAD
        link: "https://mailerapp-cdxm.onrender.com/",
        github: "https://github.com/danilo1992-sys/mailerapp",
        image: "/public/59shots_so.webp",
        tags: [tags.PYTHON, tags.HTML, tags.Css, tags.Flask, tags.Mysql]
=======
        link:"https://mailerapp-cdxm.onrender.com/",
        github:"https://github.com/danilo1992-sys/mailerapp",
       image:"/public/59shots_so.webp",
       tag: ["HTML", "CSS","PYTHON", "MYSQL","FLASK"],
>>>>>>> 67856f354a42caa62d3b8571bea47d0dffa776a9
    },
]
---
{
<<<<<<< HEAD
    PROJECTS.map(({ title, description, tags, image, link, github}) => (
        <article>
            <h3 class="text-2xl font-semibold text-sky-300/80">{title}</h3>
            <p class="text-lg mb-6 text-pretty">{description}</p>
            <ul class="flex gap-x-8 flex-row">
                {tags.map((tag) => (
                    <li>
                        <span class={'flex gap-x-2 rounded-full text-sm ${tag.class} px-2 py-1'}>
                            <tag.Icon class="size-6" />
                            {tag.name}
                        </span>
                    </li>
                ))}
            </ul>
                <img src={image} alt={"Captura de pantalla del proyecto ${image}"} />
            <footer class="flex gap-x-3 items-end mt-4">
                <Linkbutton href={github} >  
                    <Github class="size-6 "/>
                    Ver repositorio
                </Linkbutton>
                <Linkbutton href={link} >
                    <Web />
                    Ver pagina web 
                </Linkbutton>
            </footer>
            <footer>
            </footer>
=======
    PROJECTS.map(({ title, description, tag, image}) => (
        <article>
            <h3>{title}</h3>
            <p>{description}</p>
            <ul>
                {tag.map((tag) => (
                    <li>{tag}</li>
                ))}
            </ul>
            <img src={image} alt={"Captura de pantalla del proyecto ${image}"}>
>>>>>>> 67856f354a42caa62d3b8571bea47d0dffa776a9
        </article>
    ))
}
